.App{
  color:white;
  width:75%;
  margin: 0 auto;
  background-color:#4D0505;
}
/* Navigation component */
.logo{
  font-size:4rem;
  text-align: center;
  font-family: 'Cinzel', serif;

}

.navbar-container{
  /* height:10rem; */
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.navbar-container nav{
display:flex;
width:70%;
}

nav button{
  margin:0 1rem;
  background-color:#F3C01B;
  border:none;
  width:15rem;
  padding:.25rem;
  margin-bottom:2rem;
  font-family: 'Merienda', cursive;
}

/* Main Carousel */
.carousel img {
  height:350px; 
}

/* Affiliation Component */

.affiliations-container{
  margin-top:4rem;
}

.affiliations-container section{
  display:flex;
}

.affiliations-container .img{
width:40%;
}

.affiliations-container .img img{
  width:100%;
  height:20rem;
  margin-top:6rem;
}

.affiliations-container .quote{
  text-align:center;
  width:40%;
  margin:5rem;
}

.affiliations-container .quote p{
  font-family: 'Marck Script', cursive;
  font-size:2rem;
}

.affiliations-container .quote button{
  background-color:#F3C01B;
  border:none;
  font-family: 'Merienda', cursive;
  padding:.4rem;
}



