.App{
  color:white;
  width:75%;
  margin: 0 auto;
  background-color:#4D0505;
}

.navbar-container{
  height:150px;
  margin-bottom: 5rem;

  display:flex;
  justify-content:flex-end;
}

.navbar-container nav{
display:flex;
align-items:flex-end;


}

nav button{
  margin:0 3rem;
  background-color:#F3C01B;
  border:none;
  width:10rem;
  padding:.5rem;
  margin-bottom:2rem;
  font-family: 'Merienda', cursive;
  
}

/* Main Carousel */
.carousel img {
  height:350px; }

